// main: style.less

// ============ colors ===============
@white: #fff;
@black: #2b2a2c;
@gray: #6a696b;
@lightGray: #8d8d8e;

@greenDark: #013A40;
@greenLight: #025951;
@yellowLight: #F2CF63;
@yellowDark: #D9AD5B; 
// @yellowDark: #b88c3b;
@brown: #A66E4E;


// ============ media-queries ===============
// @mobile-sm: ~"(max-width: 565px)";
@mobile-sm: ~"(max-width: 609px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@laptop: ~"(max-width: 1199px)";
