// main: ../style.less
.intro {
	@media @mobile {
		margin-top: 7rem;
	}
}
.intro__inner {
	display: flex;
	position: relative;

	padding: 6rem 0 8.8rem;
	border-bottom: 1px solid fade(@gray, 30%);

	background: url("../images/symbols.png") right bottom no-repeat;

	@media @tablet {
		padding: 4rem 0;
		background-size: 390px auto;
	}
	@media @mobile {
		background-size: 330px auto;
	}
}

.intro__content {
	width: 50%;

	@media @mobile {
		width: 60%;
	}
	@media @mobile-sm {
		width: 100%;
	}
}

.intro__suptitle {
	font-size: 2.13rem;
	font-weight: 200;
	color: @black;

	@media @tablet {
		font-size: 1.5rem;
	}
}

.intro__title {
	font-size: 3rem;
	font-weight: 700;
	color: @black;

	margin-bottom: 5px;

	@media @tablet {
		font-size: 2rem;
	}
}

.intro__text {
	font-size: 1.2rem;
	color: fade(@black, 70%);

	margin-bottom: 25px;
}

.intro__photo {
	position: absolute;
	bottom: -1px;
	right: 0;

	@media @tablet {
		width: 350px;
	}
	@media @mobile {
		width: 300px;
	}
	@media @mobile-sm {
		display: none;
	}
}