// main: ../style.less

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media @mobile {
		display: none;
		width: 100%;
		height: auto;
		padding: 1rem;

		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;

		background-color: #fff;
		text-align: center;

		&.show {
			display: flex;
			flex-direction: column;
			position: absolute;

			background-color: fade(@black, 90%);
			
			a {
				color: @white;

				&:hover:not(.nav__link--btn) {
					color: @yellowDark;
				}

				&.nav__link--btn {
					border: 2px solid @white;
				}
				&.nav__link--btn:hover {
					color: @white;
					border: 2px solid @yellowDark;
				}
			}
		}
		
	}
}

.nav__link {
	font-size: 0.93rem;
	font-weight: 700;
	text-transform: uppercase;
	color: @white;

	margin-left: 2rem;
	position: relative;
	
	&:hover:not(.nav__link--btn) {
		color: @yellowDark;
	}

	&::after {
		content: "";
		width: 0%;
		height: 2px;
		background-color: @yellowDark;

		position: absolute;
		bottom: -2px;
		left: 0;

		transition: width .2s linear;
	}

	&:hover:not(.nav__link--btn):after {
		width: 100%;
	}

	&--btn {
		padding: .66rem 2rem;

		border: 2px solid @white;
		border-radius: 20px;

		transition: .2s linear;

		&:hover {
			color: @white;
			background-color: @yellowDark;
			border: 2px solid @yellowDark;
		}
	}

	@media @mobile {
		margin-left: 0;

		&:not(.nav__link--btn) {
		margin-bottom: 2.2rem;
		margin-left: 0;
		padding: .5rem 0 0;
		}
	}
}