// main: ../style.less

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media @mobile {
		display: none;
		width: 100%;
		height: auto;
		padding: 1rem;

		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;

		background-color: #fff;
		box-shadow: 0 5px 10px fade(@black, 30%);
		text-align: center;

		&.show {
			display: flex;
			position: absolute;
		}
		
	}
}

.nav__link {
	font-size: 0.93rem;
	font-weight: 700;
	text-transform: uppercase;
	color: @black;

	margin-left: 2rem;
	position: relative;

	&::after {
		content: "";
		width: 0%;
		height: 2px;
		background-color: @black;

		position: absolute;
		bottom: -2px;
		left: 0;

		transition: width .2s linear;
	}

	&:hover:not(.nav__link--btn):after {
		width: 100%;
	}

	&--btn {
		padding: .66rem 2rem;

		border: 2px solid @black;
		border-radius: 20px;

		transition: .2s linear;

		&:hover {
			color: @white;
			background-color: @black;
		}
	}

	@media @mobile {
		width: 100%;
		margin-left: 0;
		padding: .5rem 1rem;
	}
}