// main: ../style.less

.social {
	display: flex;
	margin-bottom: 42px;
}

.social__link {
	transition: transform .1s linear;
	margin-right: 1.2rem;

	img {
		width: 41px;
		height: 41px;
	}
	
	&:hover {
		transform: translateY(-4px);
	}

	@media @tablet {
		margin-right: .6rem;
	}
	@media @mobile {
		margin-right: .6rem;
	}
}